@font-face {
  font-family: 'icon';
  src: url('/fonts/icon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  vertical-align: sub;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchor:before {
  content: "\f13d";
}

.icon-coffee:before {
  content: "\f0f4";
}

.icon-crow:before {
  content: "\f520";
}

.icon-github:before {
  content: "\f09b";
}

.icon-reddit:before {
  content: "\f1a1";
}

.icon-scroll:before {
  content: "\f70e";
}

.icon-ship:before {
  content: "\f21a";
}

.icon-skull-crossbones:before {
  content: "\f714";
}

.icon-telegram:before {
  content: "\f2c6";
}

.icon-x:before {
  content: "\f099";
}

.icon-youtube:before {
  content: "\f167";
}
