<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <meta name="color-scheme" content="dark light">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="Firas Khalil Khana">
  <link rel="icon" href="/favicon.ico">
  <link rel="stylesheet" href="/pico.css">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/font.css">
  <link rel="canonical" href="{{ url |> url(true) }}">
</head>
<body>
  {{ include "header.vto" }}

  {{ content }}

  {{ include "footer.vto" }}
</body>
</html>
