<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="dark light" name="color-scheme">
    <title>{{ title }}</title>
    <meta content="A simple and lightweight Linux® distribution based on musl libc and toybox" name="description">
    <meta content="Firas Khalil Khana" name="author">
    <link href="/favicon.ico" rel="icon shortcut">
    <link href="/pico.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/font.css" rel="stylesheet">
    <link href="{{ url |> url(true) }}" rel="canonical">
  </head>

  <body>
    {{ include "header.vto" }}

    {{ content }}

    {{ include "footer.vto" }}
  </body>
</html>
