<footer class="text-center">
  <p>Licensed under the <a href="https://mozilla.org/MPL/2.0/">Mozilla Public License Version 2.0 (MPL-2.0)</a></p>
  <p>Copyright © 2018-2025 <a href="mailto:firasuke@glaucuslinux.org">Firas Khana</a></p>
  <p>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries</p>
</footer>
