<footer>
  <h6 align="center">Copyright © 2018-2023, <a href="mailto:firasuke@glaucuslinux.org">Firas Khalil Khana</a></h6>
  <h6 align="center">Distributed under the terms of the <a
      href="https://github.com/glaucuslinux/glaucus/blob/main/LICENSE">ISC</a> License</h6>
  <h6 align="center">Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries</h6>
</footer>