<footer class="text-center">
  <p>Copyright © 2018-2025, <a href="mailto:firasuke@glaucuslinux.org">Firas Khalil Khana</a></p>
  <p>Distributed under the terms of the <a href="https://github.com/glaucuslinux/glaucus/blob/main/LICENSE">ISC</a> License</p>
  <p>Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries</p>
</footer>
