<!doctype html>
<html data-theme="dark" lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ title }}</title>
    <meta content="An opinionated Linux® distribution based on musl libc and toybox" name="description">
    <meta content="Firas Khana" name="author">
    <link href="/glaucus-logo.svg" rel="icon">
    <link href="/style.css" rel="stylesheet">
    <link href="{{ url |> url(true) }}" rel="canonical">
  </head>
  <body>
    <div class="u-container stack-l">
    {{ include "header.vto" }}

    <main class="stack">{{ content }}</main>

    {{ include "footer.vto" }}
    </div>
  </body>
</html>
