.lab,
.las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

@font-face {
  font-family: 'Line Awesome Brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/la-brands-400.woff2) format("woff2");
}

.lab {
  font-family: 'Line Awesome Brands'
}

@font-face {
  font-family: 'Line Awesome Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(/fonts/la-solid-900.woff2) format("woff2");
}

.las {
  font-family: 'Line Awesome Free';
  font-weight: 900
}

.la-ship:before {
  content: "\f21a"
}

.la-anchor:before {
  content: "\f13d"
}

.la-compass:before {
  content: "\f14e"
}

.la-dharmachakra:before {
  content: "\f655"
}

.la-fish:before {
  content: "\f578"
}

.la-github:before {
  content: "\f09b"
}

.la-skull-crossbones:before {
  content: "\f714"
}

.la-coffee:before {
  content: "\f0f4"
}

.la-lightbulb:before {
  content: "\f0eb"
}

.la-seedling:before {
  content: "\f4d8"
}

.la-cog:before {
  content: "\f013"
}

.la-brain:before {
  content: "\f5dc"
}

.la-cogs:before {
  content: "\f085"
}

.la-shield-alt:before {
  content: "\f3ed"
}

.la-discord:before {
  content: "\f392"
}

.la-reddit:before {
  content: "\f1a1"
}

.la-telegram:before {
  content: "\f2c6"
}

.la-twitter:before {
  content: "\f099"
}

.la-youtube:before {
  content: "\f167"
}
