---
layout: base.vto
title: 404 - glaucus
description: A simple and lightweight Linux® distribution based on musl libc and toybox
---

<article>
  <h1 align="center"><i class="las la-skull-crossbones"></i></h1>
  <h2 align="center">404 - The page you requested was not found</h2>
</article>